#head-bar {
    background-color: #898989;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    margin: -8px -8px 0px -8px;
    text-shadow: 2px 1px 0px #000;
    background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(1.6, #898989),
    color-stop(0.5, #ffffff)
);
    background-image: -moz-linear-gradient(left, #898989 20%, #ffffff 50%);
    font-family: 'Iceberg', cursive;
}

#container {
    overflow-y: scroll;
    height: 90%;
}

.message {
    padding: 3px;
    padding-left: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #CAE1FF;
    width: 530px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 23px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}

.message:nth-child(odd){
    background: #FEFEC1;
}

.author {
    font-weight: bold;
    width: 110px;
    float: left;
    overflow: hidden;
}

.content {
    width: 400px;
    overflow: auto;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 29px;
}

.date {
    font-style: italic;
    /*color: #d3d3d3;*/
    font-size: 11px;
}

.message-input {
    width: 510px;
    font-size: 16px;
}

.form-div {
    clear: both;
}

#author {
    margin-left: 7px;
    font-size: 20px;
}

#submit {
    width: 80px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, #1E90FF),
    color-stop(0.72, #87CEEB)
);
    background-image: -moz-linear-gradient(bottom, #1E90FF 23%, #87CEEB 72%);
}

#submit:active {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, #87CEEB),
    color-stop(0.72, #1E90FF)
);
    background-image: -moz-linear-gradient(bottom, #87CEEB 23%, #1E90FF 72%);
}

#dont-button {
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*background-color: #FFA07A;*/
    height: 30px;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.23, #C77187),
    color-stop(0.72, #9C1A1A)
);
    background-image: -moz-linear-gradient(top, #C77187 23%, #9C1A1A 72%);
}

#dont-button:active {
    /*background-color: #E9967A;*/
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.23, #9C1A1A),
    color-stop(0.72, #C77187)
);
    background-image: -moz-linear-gradient(top, #9C1A1A 23%, #C77187 72%);
}

