body {
    margin: auto;
}
#container {
    margin: 15px 0px 0px 30px;
}

.message {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #CAE1FF;
    width: 530px;
    margin-bottom: 10px;
    font-size: 23px;
}

.author {
    font-weight: bold;
    width: 110px;
    float: left;
    overflow: hidden;
}

.content {
    width: 400px;
    overflow: auto;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.date {
    font-style: italic;
    /*color: #d3d3d3;*/
    font-size: 11px;
}

.message-input {
    width: 515px;
    font-size: 16px;
}

.form-div {
    clear: both;
}

#author {
    margin-left: 30px;
    font-size: 20px;
}

#submit {
    width: 80px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #87CEEB;
    color: white;
}

#submit:active {
    background-color: #1E90FF;
}

#dont-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #FFA07A;
    height: 30px;
}

#dont-button:active {
    background-color: #E9967A;
}

