#container {
    overflow: scroll;
    height: 100px;
}

.message {
    padding: 5px;
    font-size: large;
}

.author {
    font-weight: bold;
    width: 110px;
    float: left;
    overflow: hidden;
}

.content {
    width: 400px;
    overflow: auto;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.date {
    font-style: italic;
    color: #d3d3d3;
}

.message-input {
    width: 50%;
}